<head>
    <title>RTG Measuring Online</title>
  </head>

  <style>
    .dot_red {
      height: 10px;
      width: 10px;
      background-color: #FF0000;
      border-radius: 50%;
      display: inline-block;
    }
    .dot_green {
      height: 10px;
      width: 10px;
      background-color: #00FF00;
      border-radius: 50%;
      display: inline-block;
    }
    .dot_gray {
      height: 10px;
      width: 10px;
      background-color: #5c5e5c;
      border-radius: 50%;
      display: inline-block;
    }
    </style>

  <body>
  <h1>RTG Monitoring</h1>
  <hr>
  <h2>Realtime Monitoring</h2>
  <table border="1">
    <tr>
        <td>Machine</td>
        <td>Datetime</td>
        <td>สถานะล่าสุด</td>
        <td>สถานะย้อนหลัง1ชั่วโมง(จุดล่ะ5นาที)</td>
    </tr>
  {% for item in monitors %}
            <tr>
                {%for key,value in item.items %}
                    {% if key == 'Engine Power On' %}
                        <td style="text-align:center" 
                        bgcolor="{% if char == '1' %}dot_green 
                        {% elif char == '0' %} dot_red 
                        {% else %}dot_gray
                        {% endif %}">
                        {% if value == '1' %}On 
                        {% elif char == '0' %}Off 
                        {% else %} No connection
                        {% endif %}</td>
                    {% elif key == 'Engine Power On:LIST' %}
                       <td>
                        {% for char in value %}  
                            {% if char != ',' %}
                            <span class="{% if char == '1' %}dot_green 
                                        {% elif char == '0' %} dot_red 
                                        {% else %}dot_gray
                                        {% endif %}">  
                            </span>  
                            {% endif %}
                        {% endfor %}
                        </td>
                    {% else %}
                        <td style="text-align:center">{{value}}</td>
                    {% endif %}
                {% endfor %}
                
            </tr>
  {% endfor %}
  </table>
  <hr>
  
  </body>