<head>
    <title>RTG Measuring Online</title>
  </head>
  <body>
<h1>RTG Measuring Online - Realtime</h1>
<hr>
<table border="1">
{% for key,value in rtgs.items %}
            <tr>
                    <td>{{key}}</td>
                    {%for item,measurement in value.items %}
                        {% if key == 'Equipment' %}
                          <td style="text-align:center"><a href="{% url 'machine:detail' measurement %}">{{measurement}}</a></td>
                        {% else %}
                          <td style="text-align:center">{{measurement}}</td>
                        {% endif %}
                    {% endfor %}
            </tr>
{% endfor %}
</table>
</body>