<head>
    <title>RTG Measuring Online</title>
  </head>
  <body>
<h1>RTG Online Metering</h1>
<hr>
<h2>Realtime Metering</h2>
<table border="1">
{% for key,value in rtgs.items %}
            <tr>
                    <td>{{key}}</td>
                    {%for item,measurement in value.items %}
                        {% if key == 'Equipment' %}
                          <td style="text-align:center"><a href="{% url 'machine:detail' measurement %}">{{measurement}}</a></td>
                        {% else %}
                          <td style="text-align:center">{{measurement}}</td>
                        {% endif %}
                    {% endfor %}
            </tr>
{% endfor %}
</table>
<a href="engine-on">Monitoring..</a>
<hr>
<h2>Current Week Working Hour</h2>
**Note : not include today.
{{currentweek|safe}}
<hr>
<h2>Last Week Working Hour</h2>
{{lastweek|safe}}
</body>